<div class="row align-center">
    <div class="col-md-6">
        <h2>All Posts</h2>
    </div>
    <div class="col-md-6">
        <app-filter-posts (onSearch)="onSearch($event)"></app-filter-posts>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ng-container >
            <div *ngIf="posts.length; else noData" class="infinite-scroll" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50">
                <table mat-table [dataSource]="posts" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> ID. </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> Title </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="body">
                      <th mat-header-cell *matHeaderCellDef> Content </th>
                      <td mat-cell *matCellDef="let element"> {{element.body}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="element.id" mat-button color="primary">View</a>
                        </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #noData>
    <div class="alert alert-warning text-center" role="alert">
        No Items Were Found!
    </div>
</ng-template>